*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.inicio{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    text-align: center;

}
body{
    font-family: 'Open Sans', sans-serif;
    background-image:#fff;
    text-align: center;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px ;
}
.header{
    background-image: linear-gradient(to right, rgba(255, 128, 119, 0.493) 0%, rgba(255, 133, 122, 0.479) 0%, rgba(255, 140, 127, 0.5) 21%, rgba(249, 144, 133, 0.466) 52%, rgba(207, 85, 107, 0.493) 78%, rgba(177, 42, 91, 0.473) 100%), url(../img/sven-brandsma-mOfMpJ7O3zs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    text-align: center;

    
}
.head{
    padding: 100px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.containerFoto{
    overflow: hidden;

}
.banner{
    float: left;
    margin:1em;
    padding:1em;

}
#contacto{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.socialMedia{
    background: #fff;
}
.menuNavegacion ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    

}

.menuNavegacion a{
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    
}

.inicio #flotante{
    position: fixed;
    top:30px;
    right:30px;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100;
}

@keyframes cambio{
    0%{margin-left:0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

.footerContent ul{
    display: flex;
    padding: 0;
}

.footerContent li{
    width: 100%;
    list-style: none;
}

.columna1{

    max-width: 400px;
}
.columna1 h1{
    font-size: 22px;
}
.columna1 p{
    font-size: 14px;
    margin-top: 20px;
}

.columna2{
    max-width: 400px;
}
.columna2 h1{
    font-size: 22px;
}
.columna2 p{
    font-size: 14px;
    margin-top: 20px;
}

@media screen and (max-width:500px){
    form{
        width: 0%;
    }
}


